body {
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:145vh;
  }
  
  .clock {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 7px;
  }
  
  .text1 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 7px;
  }
  
  .text2 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 7px;
    margin-right: 100px;
    margin-left: 100px;
  }

